@import "tailwindcss";

@theme inline {
  --color-site-blue: #1b2992;
  --color-site-blue-dark: #0d123b;
  --color-site-white: #fffcf8;
  --color-site-pink: #f32c76;
  --color-site-gray: #9e9ea7;
  --color-site-orange: #ff5556;

  --font-monaSans: var(--font-monaSans), sans-serif;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  @apply text-site-white font-monaSans;
}

button {
  @apply cursor-pointer;
}
